extends ../layout/layout.pug
 
block content
  if type=="success"
    p(class="successMessge" style="background-color: #d4edda; color:#155724; padding:.75rem 1.25rem;") #{message}
  else
    p(class="errorMessge" style="background-color: #f8d7da; color:#721c24; padding:.75rem 1.25rem;") #{message}

  


