extends ../layout/layout.pug

block content
  h4 Reset Password
  br
  div#messageWrapper(style="display:none")  
  form(method='POST' id='frmChangePassword' action='/auth/change_password')
    div.form-group
      label(for='pw') Password:
      input#password.form-control(type='password' name='password')
    div.form-group
      label(for='pw2') Confirm Password:
      input#confirm_password.form-control(type='password' name='confirmPassword')
      input(type='hidden' id='forgot_token' value=`${token}`)
    button#btnChangePassword.btn.btn-primary(type='submit') Change Password

  //- Load JS
  script(src="/js/jquery.js")
  script(src="/js/script.js")

